NVIDIA_API_KEY=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

ALPACA_API_KEY=your_alpaca_key
ALPACA_SECRET_KEY=your_alpaca_secret
ALPACA_BASE_URL=https://paper-api.alpaca.markets

SYMBOL=AAPL
TIMEFRAME=5Min
RISK_PER_TRADE=0.02